* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #B0A8B9;
}

.header__h1 {
  background-color: #00C9A7;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.header__nav {
  background-color: wheat;
  margin-top: 0px;
}

.nav-item {
  text-decoration: none;
  color: wheat;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  background-color: white;
}

.main {
  background-color: #B0A8B9;
}

.main__img {
  padding-left: 50px;
}

.main__img--gato1 {
  padding-left: 50px;
  margin-top: 3rem;
}

.button {
  background-color: #FF8066;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.main__legend {
  text-align: center;
}

.main__label--padding {
  padding-left: 37px;
}

.main__label {
  padding-left: 20px;
}

.main__equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__equipo--gato2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card1 {
  border: 1px solid black;
  margin-left: 5rem;
}

.footer {
  text-align: center;
  background-color: #4B4453;
  margin: 0;
  border-top: solid 1px black;
  bottom: 0;
  position: absolute;
}

#grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
  -ms-grid-rows: 4rem 40px auto auto;
      grid-template-rows: 4rem 40px auto auto;
  -ms-grid-columns: 20% auto 15%;
      grid-template-columns: 20% auto 15%;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  #grilla {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  header {
    width: 100%;
  }
  .footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    padding-top: 4px;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 1024px) {
  #grilla {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .header {
    width: auto;
  }
  .main__card--margin {
    margin-left: 25%;
  }
  .main__card--border {
    margin-left: 25%;
  }
  .footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding-top: 4px;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 1920px) {
  #grilla {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .header {
    width: auto;
  }
  .main__card--margin {
    margin-left: 25%;
  }
  .main__card--border {
    margin-left: 25%;
  }
  .footer {
    position: absolute;
    bottom: 0vh;
    padding-top: 4px;
    padding-bottom: 14px;
  }
}
/*# sourceMappingURL=main.css.map */